<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}"></head>
<body>
  <nav th:replace="~{layout::navbar}"></nav>
  <main>
    
    <div th:if="${successMessage}" class="alert alert-success">
      <p th:text="${successMessage}"></p>
    </div>
    
    <div class="container d-flex justify-content-start">
      <div class="row">
        <h1 class="text-center text-white mt-5 mb-5">Dashboard admin</h1>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col">
          <h4 th:text="${title}" class="text-white mb-5">Richieste ricevute</h4>
        </div>
      </div>
    </div>
    
    <!-- tab delle richieste ricevute -->
    <div class="container">
      <div class="row m-1">
        <div class="col-12 bg-table">
          
          <table class="table table-dark table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col" class="d-none d-lg-table-cell" >id</th>
                <th scope="col">Utente</th>
                <th scope="col">Per il Ruolo</th>
                <th scope="col">#Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="request:${requests}">
                <td th:text="${request.id}" class="d-none d-lg-table-cell"></td>
                <td th:text="${request.user.username}"></td>
                <td th:text="${request.role.name}"></td>
                <td>
                  
                  <a th:href="@{/operations/career/request/detail/{id}(id=${request.id})}" class="btn btn-info">
                    <i class="bi bi-list "></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
    
    <!-- fine tab richieste ricevute -->
    
    <!-- tab delle categorie -->
    <div class="container">
      <div class="row">
        
        <div class="col-12 mt-5">
          <h4 class="text-white mb-4">Sezione le categorie</h4>
          <a th:href="@{/categories/create}" class="btn btn-warning">Crea una categoria
           <i class="bi bi-plus-lg"></i>
          </a>
          
          <div class="container bg-table mt-5 mb-5">
            <div class="row">
                <div class="col-12 mt-3">
            <table class=" table table-dark table table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nome</th>
                  <th class="text-end">#Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="category : ${categories}">
                  <td th:text="${category.id}"></td>
                  <td th:text="${category.name}"></td>
                  <td class="text-end">
                    <a th:href="@{/categories/edit/{id}(id=${category.id})}" class="btn btn-warning m-2">
                       <i class="bi bi-pen"></i>
                    </a>
                    <a th:href="@{/categories/delete/{id}(id=${category.id})}" class="btn btn-danger m-2">
                     <i class="bi bi-trash"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
            </div>
             
        
        </div>
      </div>
    </div>
  </main>
  <footer th:replace="~{layout::footer}"></footer>
  <script th:replace="~{layout::bss}"></script>
</body>
</html>