<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}"></head>
<body>
    <nav th:replace="~{layout::navbar}"></nav>
    <main class="vh-100">

    <div th:if="${successMessage}" class="alert alert-success">
        <p th:text="${successMessage}"></p>
    </div>
    
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col mt-5">
                <h1 th:text="${title}"class="text-white">Richiesta di collaborazione</h1>
            </div>
        </div>
    </div>
    

   <div class="container">
    <div class="row">
        <div class="col-md-6 box-bg p-4">
             <form th:action="@{/operations/career/request/save}" method="POST" th:object="${careerRequest}" enctype="multipart/form-data">
        <label for="body" class="form-label text-white">Motivo della richiesta:</label>
        <textarea name="" id="body" class="form-control" th:field="*{body}" placeholder="Inserisci la motivazione"></textarea>

        <div>
            <label for="role" class="form-label text-white mt-2">Per quale ruolo?</label>
            <select name="" id="role" th:field="*{role}" class="form-select">
                <option th:each="role:${roles}" th:value="${role.id}" th:text="${#strings.substring(role.name, 5)}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-warning mt-4">Effettua la richiesta</button>
    </form>
        </div>
    </div>
   </div>
    </main>
    <footer th:replace="~{layout::footer}"></footer>
    <script th:replace="~{layout::bss}"></script>
</body>
</html>