<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}"></head>
<body>
    <nav th:replace="~{layout::navbar}"></nav>
    <main>
     <div th:if="${successMessage}" class="alert alert-success">
        <p th:text="${successMessage}"></p>
    </div>

    <div class="container">
        <div class="row">
               <h1 th:text="${title}" class="text-center text-white mt-5 mb-5">Tutti gli articoli</h1>
        </div>
    </div>
   

    

    <div th:if="${articles.size() > 0}">


           <!-- card -->
        <div class="container  mt-5">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6 col-xl-4 " th:each="article:${articles}">
                    <div class="card-box" >
                        <div class="img-card-container">
                        <img class="img-card" th:if="${article.image != null }" th:src="${article.image.path}" alt="">
                        <img class="img-card" th:unless="${article.image != null}" th:src="@{/images/default.jpg}" alt="">
                        </div>
                        <div class="card-body-custom">
                            <h5 class="card-title text-white fw-bolder mt-2 text-truncate" th:text="${article.title}"></h5>
                            <p class="card-subtitle text-white text-truncate" th:text="${article.subtitle}"></p>
                            <p class="card-text text-white text-truncate" th:text="${article.user.username}"></p>
                            <a class="btn btn-warning mt-2" th:href="@{/articles/details/{id}(id=${article.id})}">Leggi</a>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
        <!-- end card -->

    
    <div th:unless="${articles.size() > 0}">
        <p>nessun articolo presente </p>
    </div>


  </main>


    <footer th:replace="~{layout::footer}"></footer>
    <script th:replace="~{layout::bss}"></script>
</body>
</html>