<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}"></head>
<body>
  <nav th:replace="~{layout::navbar}"></nav>
  
  <main>
    <div class="container">
      <div class="row">
        <h1 th:text="${title}" class="text-center text-white mt-5 mb-5"></h1>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="container-form-create mb-5 p-5">
          <!-- form -->
          <form th:action="@{/articles/update/{id}(id=${article.id})}" method="POST" th:object="${article}" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="articleTitle" class="form-label text-white">Titolo</label>
              <input id="articleTitle" type="text" class="form-control" th:field="*{title}" placeholder="inserisci un titolo">
              <p th:errors="*{title}" class="text-danger" th:if="${#fields.hasErrors('title')}"></p>
            </div>
            <div class="mb-3">
              <label for="subtitle" class="form-label text-white">Sottotitolo</label>
              <input id="subtitle" type="text" class="form-control" th:field="*{subtitle}" placeholder="inserisci un sottotitolo">
              <p th:errors="*{subtitle}" class="text-danger" th:if="${#fields.hasErrors('subtitle')}"></p>
            </div>
            <div class="mb-3">
              <label for="body" class="form-label text-white">Corpo del testo</label>
              <textarea id="body" type="text" class="form-control" th:field="*{body}" placeholder="inserisci il testo"></textarea>
              <p th:errors="*{body}" class="text-danger" th:if="${#fields.hasErrors('body')}"></p>
            </div>
            <div class="mb-3">
              <label for="date" class="form-label text-white">Inserisci una data (max 8 caratteri)</label>
              <input id="date" type="date" class="form-control" th:field="*{publishDate}" placeholder="inserisci la data (yyyyMMdd)">
              <p th:errors="*{publishDate}" class="text-danger" th:if="${#fields.hasErrors('publishDate')}"></p>
            </div>
            <div class="mb-3">
              <label for="category" class="form-label text-white">Categoria</label>
              <select id="category" th:field="*{category}" class="form-select">
                <option  th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"></option>
              </select>
              <p th:errors="*{category}" class="text-danger" th:if="${#fields.hasErrors('category')}"></p>
            </div>
            
            <div class="mb-3" th:if="${article.image != null}">
              <label for="image" class="form-label text-white">Immagine</label>
              <img th:src="${article.image.path}" id="image" alt="${article.image.path}">
            </div>
            <div class="mb-3" th:unless="${article.image != null}">
              <label for="image" class="form-label text-white">Immagine dell'articolo</label>
              <p class="text-info">immagine non presente</p>
            </div>
            <div class="mb-3">
              <label for="image" class="form-label text-white">Immagine</label>
              <input type="file" name="file" id="image" class="form-control">
            </div>
            
            
            <div class="container">
              <div class="row">
                <div class="col d-flex justify-content-center ">
                     <button type="submit" class="btn btn-warning text-white">Crea l'articolo</button>
                </div>
              </div>
            </div>
          </form>
          <!-- end form -->
           </div>
        </div>
      </div>
    </div>
    
    
  </main>
  <footer th:replace="~{layout::footer}"></footer>
  <script th:replace="~{layout::bss}"></script>
</body>
</html>