main{
    background-image: url(/images/newyork.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}

nav{
  z-index: 9000000;
  box-shadow: 0px 5px 15px 20px rgba(0, 0, 0, 0.4);
}

.card-box{
  background: white;
  width: 300px;
  margin: auto;
  padding: 20px 20px 40px 20px;
  border-radius: 3px;
  display: flex;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-direction: column;
  box-shadow: 5px 5px 15px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.img-card-container{
 height: 250px;
 overflow: hidden;
  box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.2);
}

.img-card{
  width: 100%;
  height: 100%;
  border: solid 2px rgba(0, 0, 0, 0.5);
}


.card-body-custom{
  padding-top: 20px;
  padding-left: 10px;
 
}

.card-box:hover{
transform: translateY(-30px);
box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.3);
}