main{
    height: 100vh;
    background-image: url(/images/newyork.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card-custom{
  transition: transform 0.3s ease-in-out;
}

.card-custom:hover{
transform: translateY(-5px);
}
