main{
  background-image: linear-gradient( rgba(0, 0, 0, 0.634), rgba(4, 2, 14, 0.216)), url(/images/newyork.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}

nav{
  z-index: 9000000;
  box-shadow: 0px 5px 15px 20px rgba(0, 0, 0, 0.4);
}

.card-box{
 background: linear-gradient(to bottom, rgba(182, 192, 237, 0.823),rgba(3, 53, 86, 0.67) ,rgba(0, 0, 0, 0.97));
  width: 350px;
  margin: auto;
  padding: 25px 25px 30px 25px;
  border-radius: 2px;
  display: flex;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-direction: column;
  box-shadow: 5px 5px 15px 15px rgba(0, 0, 0, 0.582);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.card-box::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; 
  width: 10%;
  height: 100%;
  background: rgba(255, 255, 255, 0.068);
  transform: skewX(-30deg); 
  transition: all 0.50s linear;
}

.card-box:hover::after {
  left: 150%; 
}

.img-card-container{
 height: 250px;
 overflow: hidden;
  box-shadow: rgb(204,219,232) 3px 3px 6px 0px inset, rgba(255,255,255,0.5) -3px -3px 6px 1px inset;
}

.img-card{
  width: 100%;
  height: 100%;
  border: solid 2px rgba(0, 0, 0, 0.5);
}


.card-body-custom{
  padding-top: 20px;
  padding-left: 10px;
 
}

.card-box:hover{
transform: translateY(-30px);
box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.162);
}


.polaroid-container{
max-width: 500px;
margin: 0 auto;
box-shadow: 5px 5px 15px 20px rgba(0, 0, 0, 0.76);
background: linear-gradient(to bottom, rgba(182, 192, 237, 0.823),rgba(3, 53, 86, 0.67) ,rgba(0, 0, 0, 0.97));
border-radius: 2px;
}

.text-container-detail{
background: linear-gradient(to bottom, rgba(57, 71, 137, 0.823),rgba(3, 53, 86, 0.67) ,rgba(0, 0, 0, 0.97));
border-radius: 2px;
box-shadow: 5px 5px 15px 20px rgba(0, 0, 0, 0.76);
padding: 20px;

}

.detail-img{
  max-width: 90%;
  height: auto;
  margin-top: 45px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.975) inset;
}


.author-signature{
  display: flex;
  justify-content: center;
  
}

.signature{
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style:oblique;
  font-size: xx-large;
}