<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}"></head>
<body>
    <nav th:replace="~{layout::navbar}"></nav>

    <div th:if="${param.notAuthorized}">
        <div class="alert alert-danger">Non autorizzato!</div>
    </div>
    <div th:if="${successMessage}" class="alert alert-success">
        <p th:text="${successMessage}"></p>
    </div>

    <div th:if="${errorMessage}" class=" alert alert-success">
         <p thtext="${errorMessage}"></p>
    </div>
     
    <h1>Benvenuti nella home</h1>

    <div class="container" th:if="${articles.size() > 0}">
        <p>gli ultimi articoli</p>

    </div>

    <div th:each="article:${articles}">
        <img  th:if="${article.image != null }" th:src="${article.image.path}" alt="">
        <img th:unless="${article.image != null}" src="@{/images/default.jpg}" alt="">


        <div>
            <p th:text="${article.title}"></p>
            <p th:text="${article.subtitle}"></p>
            <p th:text="${article.user.username}"></p>

            <a th:href="@{/articles/details/{id}(id=${article.id})}">Leggi</a>
        </div>
    </div>

    <footer th:replace="~{layout::footer}"></footer>
    <!-- <div th:replace="~{layout::bss}"></div> -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>